<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>filter.Authentication</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Captcha</servlet-name>
        <servlet-class>Controller.Captcha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>Controller.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verification</servlet-name>
        <servlet-class>Controller.Verification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>Controller.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProfile</servlet-name>
        <servlet-class>Controller.CreateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>Controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordController</servlet-name>
        <servlet-class>Controller.UpdatePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicMarketController</servlet-name>
        <servlet-class>Controller.PublicMarketController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionManagementController</servlet-name>
        <servlet-class>Controller.TransactionManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInformationController</servlet-name>
        <servlet-class>Controller.UserInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MySellOrderController</servlet-name>
        <servlet-class>Controller.MySellOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>Controller.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>Controller.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyPurchaseOrderController</servlet-name>
        <servlet-class>Controller.MyPurchaseOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error401Controller</servlet-name>
        <servlet-class>Controller.Error401Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error404Controller</servlet-name>
        <servlet-class>Controller.Error404Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderCreatedController</servlet-name>
        <servlet-class>Controller.OrderCreatedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewProductController</servlet-name>
        <servlet-class>Controller.NewProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicMarketFilterController</servlet-name>
        <servlet-class>Controller.PublicMarketFilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderStatusNSellerWalletController</servlet-name>
        <servlet-class>Controller.UpdateOrderStatusNSellerWalletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VnPayController</servlet-name>
        <servlet-class>Controller.VnPayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayAfterController</servlet-name>
        <servlet-class>Controller.VNPayAfterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSellerEditController</servlet-name>
        <servlet-class>Controller.ProductSellerEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderStatusReport</servlet-name>
        <servlet-class>Controller.UpdateOrderStatusReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchasedModalDetailController</servlet-name>
        <servlet-class>Controller.PurchasedModalDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellModalDetailController</servlet-name>
        <servlet-class>Controller.SellModalDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawController</servlet-name>
        <servlet-class>Controller.WithdrawController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawalDetailsController</servlet-name>
        <servlet-class>Controller.WithdrawalDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateWithdrawRequestController</servlet-name>
        <servlet-class>Controller.CreateWithdrawRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawManagementController</servlet-name>
        <servlet-class>Controller.WithdrawManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleWithdrawRequestController</servlet-name>
        <servlet-class>Controller.HandleWithdrawRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportsManagementController</servlet-name>
        <servlet-class>Controller.ReportsManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportDetailsController</servlet-name>
        <servlet-class>Controller.ReportDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleReportController</servlet-name>
        <servlet-class>Controller.HandleReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailsController</servlet-name>
        <servlet-class>Controller.UserDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsController</servlet-name>
        <servlet-class>Controller.OrderDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateWithdrawalController</servlet-name>
        <servlet-class>Controller.UpdateWithdrawalController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Captcha</servlet-name>
        <url-pattern>/captcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/usercontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verification</servlet-name>
        <url-pattern>/verification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProfile</servlet-name>
        <url-pattern>/createprofile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForgetPasswordController</servlet-name>
        <servlet-class>Controller.ForgetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailController</servlet-name>
        <servlet-class>Controller.VerifyEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>Controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgetPasswordController</servlet-name>
        <url-pattern>/forget-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailController</servlet-name>
        <url-pattern>/verify-email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/reset-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordController</servlet-name>
        <url-pattern>/updatepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicMarketController</servlet-name>
        <url-pattern>/publicmarket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionManagementController</servlet-name>
        <url-pattern>/transactionmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInformationController</servlet-name>
        <url-pattern>/userinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MySellOrderController</servlet-name>
        <url-pattern>/sell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyPurchaseOrderController</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error401Controller</servlet-name>
        <url-pattern>/401</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error404Controller</servlet-name>
        <url-pattern>/404</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderCreatedController</servlet-name>
        <url-pattern>/ordercreated</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewProductController</servlet-name>
        <url-pattern>/newproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicMarketFilterController</servlet-name>
        <url-pattern>/publicmarketfilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusNSellerWalletController</servlet-name>
        <url-pattern>/updateorderstatusnsellerwallet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VnPayController</servlet-name>
        <url-pattern>/vnpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPayAfterController</servlet-name>
        <url-pattern>/vnpayafter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSellerEditController</servlet-name>
        <url-pattern>/productselleredit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusReport</servlet-name>
        <url-pattern>/updateorderstatusreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchasedModalDetailController</servlet-name>
        <url-pattern>/purchasedmodaldetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellModalDetailController</servlet-name>
        <url-pattern>/sellmodaldetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawController</servlet-name>
        <url-pattern>/withdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawalDetailsController</servlet-name>
        <url-pattern>/withdrawdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateWithdrawRequestController</servlet-name>
        <url-pattern>/createwithdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawManagementController</servlet-name>
        <url-pattern>/withdraw-manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleWithdrawRequestController</servlet-name>
        <url-pattern>/handlewithdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportsManagementController</servlet-name>
        <url-pattern>/reports-manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportDetailsController</servlet-name>
        <url-pattern>/reportdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleReportController</servlet-name>
        <url-pattern>/handlereport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailsController</servlet-name>
        <url-pattern>/userdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailsController</servlet-name>
        <url-pattern>/orderdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateWithdrawalController</servlet-name>
        <url-pattern>/updatewithdrawal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
</web-app>
