/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 18, 2024, 8:33:26 PM
    Author     : HP
*/

.btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point{
    cursor: pointer;
}